{% extends "base.html" %}

{% block content %}
    <h3> This is the start of my child template</h3>
    <br>
    <p>My string: {{my_string}}</p>
    <p>Value from the list: {{my_list[3]}}</p>
    <p>Loop through the list:</p>
    <p>Same list with a filter: {{ my_list|join(', ') }}</p>
    <ul>
        {% for n in my_list %}
        <li>{{n}}</li>
        {% endfor %}
    </ul>
    <h3> This is the end of my child template</h3>
    {% block footer %}
    {{super()}}
    ...and this addition to the footer is coming from the child template.
    {% endblock %}
    <h4>Current date/time: {{ current_time | datetimefilter }}</h4>
{% endblock %}